@use '@/mixin.scss' as *;
@use '@/styles.scss' as *;

.main{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 $space-x2;
    flex-direction: column;

    @media(max-width: 1200px){
        padding: 0;
    }
}